<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mall.product.mapper.PlatformAttrInfoMapper">


    <resultMap id="infoMap" type="com.cskaoyan.mall.product.model.PlatformAttributeInfo">
        <id column="id" property="id"/>
        <result column="attr_name" property="attrName"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_level" property="categoryLevel"/>
        <association property="attrValueList" javaType="java.util.List" resultSet="com.cskaoyan.mall.product.model.PlatformAttributeValue"/>
    </resultMap>

    <select id="selectPlatFormAttrInfoList" resultMap="infoMap">
        SELECT
        a.id,
        a.attr_name,
        a.category_id,
        a.category_level,
        b.id as bid,
        b.value_name,
        b.attr_id
        FROM
        platform_attr_info AS a
        INNER JOIN platform_attr_value AS b ON a.id = b.attr_id
        AND a.is_deleted = 0
        AND b.is_deleted = 0
        <where>
            <if test="firstLevelCategoryId != 0">
                OR ( category_id = 2 AND category_level = 1 )
            </if>
            <if test="secondLevelCategoryId != 0">
                OR ( category_id = 13 AND category_level = 2 )
            </if>
            <if test="thirdLevelCategoryId != 0">
                OR ( category_id = 61 AND category_level = 3 );
            </if>
        </where>
    </select>
</mapper>